body{
  padding: 10px;
  min-width:400px;
  min-height:400px;
}
a{
  text-decoration: none;
}
#username{
  padding: 5px 5px;
  margin-bottom: 10px;
  font-size: 28px;
  border-bottom: 1px solid #555;
}
.chip{
  color:#fff;
  padding: 10px;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}
#repo-name{
  font-size:16px;
  color: #000;
}
